<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title_doc}}</title>
    <link rel="stylesheet" type="text/css"
          href="{{ asset('css/swagger-ui.css') }}">
    <style type="text/css">
        .swagger-ui .parameters-col_description input[type=text]{
            max-width: initial;
        }
    </style>
</head>
<body>
<div id="swagger-ui"></div>
<script src="{{ asset('js/swagger-ui-bundle.js') }}"></script>
<script src="{{ asset('js/swagger-ui-standalone-preset.js') }}"></script>
<script>
    window.onload = function () {
        const ui = SwaggerUIBundle({
            spec: {{ spec|raw }},
            dom_id: '#swagger-ui',
            deepLinking: true,
            supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch', 'head', 'options'],
            presets: [
                SwaggerUIBundle.presets.apis,
            ],
            plugins: [
                SwaggerUIBundle.plugins.DownloadUrl
            ],
        })
        window.ui = ui
    }
</script>
</body>
</html>